.document-metadatas {
    display: flex;
    position: fixed;
    color: black;
    padding-top: 150px;
    min-width: 100%;
}

.document-metadatas ul {
    min-width: auto;
}

.document-metadatas li {
    flex-direction: row;
    align-items: start;
}

.document-metadatas span {
    display: inline-block;
    min-width: 200px;
    width: 200px;
}

.document-metadatas a {
    display: inline-block;
    color: black;
    min-width: 100px;
    width: 100px;
}